html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  width: 1250px;
  min-width: 1250px;
}

.qtd-vendas {
  width: 350px;
  height: 240px;
  margin-top: 58px;
  margin-left: 80px;
  margin-right: 35px;
  margin-bottom: 35px;
  background-color: blue;
}
.card-body-back-color {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2%;
  background-color: #E0FFFF;
}
.card-vendas-lable {
  font-size: 3.25rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.card-vendas-value {
  font-size: 5rem;
}

.maiores-vendas {
  width: 600px;
  height: 600px;
}
